body{
    height: 10000px;
}

div{
    width: 100px;
    height: 100px;
    background-color: skyblue;
    margin-top: 5px;
    text-align: center;
}

.parent{
    background-color: burlywood;
}

.absolute{
    position: absolute;
    top: 50px;
    left: 30px;
    background-color: blueviolet;
}

.relative{
    position: relative;
}