<!-- 폴더 안의 static 파일을 사용할 수 있도록 아래의 코드 반드시 삽입 -->
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Static 파일 실습</title>
  {% comment %} <link rel="stylesheet" href="{% static 'stylesheets/sample.css' %}"> {% endcomment %}
  <link rel="stylesheet" href="../static/stylesheets/sample.css">
</head>
<body>
  <h1>정적 파일 출력을 실습해봅시다.</h1>
  <img src="{% static 'images/paul.jpg' %}" alt="" >
  {% comment %} <img src="../static/images/paul.jpg" alt="" > {% endcomment %}
</body>
</html>