{% extends 'base.html' %}

{% block body %}
<a class="btn btn-default" href="{% url 'movies:create' %} ">[새 영화 등록하러 가기]</a>


<h1>MOVIE</h1>
<hr>
<p>{{ movies|length }} 개의 영화가 있습니다.</p>
<hr>
{% for movie in movies %}
  {% comment %} <img src = {{movie.poster_url}} alt="{{movie.title}}" width="100px" height="150px">
  <p> <a href="{% url 'movies:detail' movie.pk %}">{{movie.title}}</a> </p>
  <p> 평점 : {{movie.score}}</p>
  <hr>   {% endcomment %}

  <div class="container">
      <div class="row">
        <div class="col-6">
          <hr>
          <div class="card">
            <div class="card-header">
              {{movie.title}}
            </div>
            <img src = {{movie.poster_url}} alt="{{movie.title}}" width="100%" height="100%">
            <div class="card-body">
              <h5 class="card-title">평점 : {{movie.score}}</h5>
              {% comment %} <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas sed sem ut malesuada.</p> {% endcomment %}
              <a href="{% url 'movies:detail' movie.pk %}">[MORE]</a>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endfor %}

{% endblock  %}