{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
<div class="container">
  <hr>

    <h1 class="text-center">{{movie.title}}</h1>
    <p class="text-center"> ( {{movie.created_at}} ,  {{movie.updated_at}} ) </p>

  <hr>
    <div class="container">
    {% if movie.poster %}
      <img class="mx-auto" src="{{movie.poster.url}}" alt="{{movie.title}}" style="display : block;">
    {% else %}
      <p>Sorry, no pic.</p>
    {% endif %}
    </div>
    <div class="container">    
      <h3>줄거리</h3>
      <p> {{movie.description}}</p>
    </div>
  <hr>
  
  <div class="ml-3">
    <a class="btn btn-warning" href="{% url 'movies:index' %}">INDEX</a>
    <a class="btn btn-warning" href="{% url 'movies:edit' movie.pk %}">[EDIT]</a>
    <form action="{% url 'movies:delete' movie.pk %}" method="POST" style="display : inline">
    {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="DELETE" >
      {% comment %} <a class="btn btn-default" href="{% url 'movies:delete' movie.pk %}">[DELETE]</a> {% endcomment %}
    </form>
  
  </div>
  <div class="ml-3">
    {{ratings|length}}개의 평점이 있습니다. 
  </div>
  <div class="ml-3">
    <form action=" {% url 'movies:rating' movie.pk%} " method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons submit='작성하기' %}
      {% endbuttons %}
    </form>
  </div>
  <div class="ml-3">
    {% for rating in ratings %}
    <p>{{ rating.score }} 점 : " {{ rating.content }} "</p>
    
    {% endfor %}
  </div>
  
</div>

{% endblock  %}