{% extends 'base.html' %}
{% block body %}
  <h1>Articles</h1>
  <hr>
  <a href="{% url 'articles:create' %}">[NEW]</a>
  <hr>

  <form class="mb-4" action="{% url 'articles:search' %}">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-9  col-md-10 mb-3">
      <input type="text" name="query" class="form-control" placeholder="Search">
    </div>
    <div class="col-6 col-sm-3  col-md-2">
      <input type="submit" class="form-control btn btn-warning" value="검색">
    </div>
  </div>
  </form>

  <div class="row">
    {% for article in articles %}
      <!-- 모듈화 시켜둔 article 템플릿 가져오기 -->
      {% include 'articles/_article.html' %}
    {% endfor %}  
  </div>

{% comment %} <h1>{{articles.paginator.page_range}}</h1> {% endcomment %}

  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if articles.has_previous %}
    <!-- 이전 버튼 -->
    <li class="page-item">
      <a class="page-link" href="{% url 'articles:index' %}?page={{articles.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    {% endif %}

    <!-- 페이지 버튼 -->
    {% for num in articles.paginator.page_range %}
      <li class="page-item">
        <a class="page-link" href="{% url 'articles:index' %}?page={{num}}">{{num}}</a>
      </li>    
    {% endfor %}

    <!-- 다음 버튼 -->
    {% if articles.has_next %}
    <li class="page-item">
      <a class="page-link" href=" {% url 'articles:index' %}?page={{articles.next_page_number}} ">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>

  <script>
    
    // 1. 모든 좋아요 버튼 가져오기
    const likeButtons = document.querySelectorAll('.like-button')

    // 2. forEach 함수 활용 -> 각각의 버튼 하나하나를 꺼내서 특정 동작을 추가한다.
    likeButtons.forEach(button => {
      button.addEventListener('click', function(e){
        console.log(e)

        // event.target.classList, event.target.dataset.id
        // 1. data-id에 article.pk가 들어있다. ==> 동적 라우팅 활용
        const articleId = e.target.dataset.id

        // Django가 Ajax 요청을 구분하게 하기 위해서 XHR 객체를 담아 보내준다. 
        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFToken'
        // 2. 해당 게시글의 '좋아요' 요청 보내기

        {% if user.is_authenticated %}
        axios.post(`/articles/${articleId}/like/`)
        // 3. 응답 결과 확인
        .then( response => {

          // 알맞은 id 값을 가진 span 태그를 선택해서,
          // 사용자가 '좋아요' 누를 때마다 response.data.count 값으로 갱신시킨다. 
          // span 태그 찾기                                   // 넘겨 받은 count로 갱신ㅇ        
          document.querySelector(`#like-count-${articleId}`).innerHTML = response.data.count

          if (response.data.liked){
            e.target.style.color = 'crimson'
          } else {
            e.target.style.color = "gray"
          }
        })
        .catch(error => {console.log(error)})
        {% else %}
        alert('로그인을 해야 좋아요를 사용할 수 있습니다. ')
        {% endif %}
      })
    })

  </script>


{% endblock  %}