{% extends 'base.html' %}
{% load  static %}
{% block body %}
  <h1 class="text-center">Articles</h1>
  <hr>

  <img class="mx-auto" src="{% static 'articles/image/love.jpg' %}" alt="김선호님" style="display : block">

  <hr>
    <a href="{% url 'articles:create' %}">[NEW]</a>
  <hr>

  {% for article in articles %}
    <p>[{{article.pk}}] : {{article.title}}</p>
    {% comment %} <a href="/articles/{{article.pk}}">[DETAIL]</a> {% endcomment %}
    <a href="{% url 'articles:detail' article.pk %}">[DETAIL]</a>

  <hr>
  
  {% endfor %}
  <hr>

{% endblock  %}
