{% load bootstrap4 %}
{% load gravatar %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Article</title>
  {% bootstrap_css %}
</head>

<body>
  <div class="container">
    {% if user.is_authenticated  %}
    <h2> <img src="https://s.gravatar.com/avatar/{{user.email|makemd5}}?s=80&d=mp" alt=""> 어서오세요, {{user.username}}</h2>
    <a href="{% url 'acounts:logout' %}" class="btn btn-warning">로그아웃</a>
    <a href="{% url 'acounts:update' %}" class="btn btn-warning">회원정보 수정</a>
    <a href="{% url 'acounts:change_password' %}" class="btn btn-warning">비밀번호 변경</a>

    <form action="{% url 'acounts:delete' %}" method="post" style="display : inline">
      {% csrf_token %}
      <input type="submit" value="회원탈퇴" class="btn btn-danger">

    </form>

    {% else %}
    <h3>로그인 하셔야 서비스 이용이 가능합니다.</h3>
    <a href="{% url 'acounts:signup' %}">회원가입</a>
    <a href="{% url 'acounts:login' %}">로그인</a>
    {% endif %}


    <hr>
    {% block body %}
    {% endblock  %}
  </div>
  {% bootstrap_javascript jquery='full' %}
</body>

</html>